/ {
    zephyr,user {
        signal-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
    };

    chosen {
        nordic,pm-ext-flash = &p25q16h;
    };
};

&i2c0 {	
    lsm6ds3tr_c: lsm6ds3tr-c@6a {
        status = "disabled";
    };
};

&uart0 {
    status = "disabled";
};

&pwm0 {
    status = "disabled"; 
};

&spi2 {
    status = "disabled";
};

&i2c1 {
    status = "disabled";
};

&ieee802154 {
    status = "disabled";
};

&usbd {
    status = "disabled";
};
